body{
    font-family: 'Poppins', sans-serif!important;
    background-color: rgb(234, 231, 231)!important;
}
.wrapper{
    margin: auto 2%;
    margin-top: 4%;
}
.Container{
    display: flex;
    justify-content: space-between;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.bold{
    font-weight: 800;
    font-size: 50px;
}
a{
    text-decoration: none!important;
}
.img{
    transform: scale(0.8, 0.7);
}
.center{
    text-align: center;
    margin: auto;
}
/* header */
.header{
    background-color: black;
    padding: 1% 0;
    color: white;
    display: flex;
    margin-bottom: 2%;
}
.my-nav{
    position: absolute;
    display: flex;
    color: white;
    right: 20%;
}
.my-nav a{
    margin: auto 5%;
    color: white!important;
}
.my-nav>button{
    display: none;
}
@media screen and (max-width: 680px) {
    .my-nav>button{
        display: block;
    }
    .my-nav{
        flex-direction: column;
        right: 0%;
        background-color: black;
        padding-right: 5%;
    }
    
    .hidden{
        display: none;
    }
}
/* about */

.about{
    background-image: url("https://wallpapercave.com/wp/wp1927677.jpg");
    /* border-radius: 2%; */
    z-index: -1;
    padding: 2%;
    margin-bottom: 2%;
}
.about-content{
    margin-top: 2%;
    margin-left: 5%;
    width: 50%;
}
.about-content{
    color: white;
}
.about-video{
    margin: auto 5%;
    margin-top: 7%;
    width: 50%;
}
.about-video>:nth-child(1){
    margin-top: 10%;
}
@media screen and (max-width: 600px) {
    #about{
        margin-top: 5%;
    }
    .about-video{
        display: none;
    }
    .about>div{
        flex-direction: column;
    }
}
/* product */
#product{
    margin-top: 4%;
    margin-bottom: 4%;
}
#product>:nth-child(2){
    width: 45%;
}
.p-wrapper{
    margin-top: 2%;
    padding: 0 0.5%;
    border-radius: 1%;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.p-wrapper:hover{
    box-shadow: 0 0 11px rgb(187, 185, 185);
    transform: scale(1.05);
}
.robot{
   margin: -10% -8%;
}
@media screen and (max-width: 680px) {
    .p-Container{
        flex-direction: column;
    }
    .p-wrapper{
        width: 100%;
    }
}
/* robot */

#robots{
    margin-bottom: 2%;
}
.robot-card{
    width: 30%;
    background-color: black;
    margin: 2% 10% ;
    border-radius: 1%;
}
.robot-card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 11px rgb(187, 185, 185);
}
.r-details{
    color: white;
    padding: 1% 2%;
}
.r-img1{
    width: 421.2px;
    height: 218.7px;
}
.r-img2{
    
    width: 421.2px;
    height: 218.7px;
    
}
@media screen and (max-width: 680px) {
    .r-Container{
        flex-direction: column;
    }
    .robot-card{
        width: 100%;
        margin: 2% 1%;
    }
    .r-img1{
        width: 100%;
        height: 90%;
    }
    .r-img2{
        width: 100%;
        height: 90%;
    }
}
/* Quadruped robot */
.q-robot{
    margin: 2% 15%;
}
.collage{
    margin-top: 5%;
    margin-left: 15%;
    background-color: rgb(48, 47, 47);
    padding: 2%;
    width: 69%;
    border-radius: 1%;
}

.a-div{
    display: flex;
}
.r-img{
    object-fit: cover;
}


/* open positions */
.open-position{
    margin: auto 5%;
}

/* team */
#team{
    background-color: rgb(39, 38, 38);
    color: white;
    text-align: center;
    margin-top: 3.5%;
}
.t-cont{
    display: flex;
}
.t-card{
    width: 30%;
    border-radius: 1%;
    background-color: white;
    color: black;
    padding: 2% 1%;
    margin: 1%;
}
.t-card:hover{
    box-shadow: 0 0 15px rgb(37, 36, 36);
    transform: scale(1.05);
}
.t-card>img{
    width: 90%;
}
/* footer */
#footer{
    padding: 15% 7%;
    text-align: center;
    background-color: rgb(44, 43, 43);
    color: white;
}
#footer>p>a{
    color: #8f8f8f;
}
.social{
    margin: 0 1.5% 2%;
}