body{
    font-family: 'League Spartan'!important;
    background-color: rgb(234, 231, 231)!important;
    font-size: larger!important;
}
.wrapper{
    margin: auto 2%;
    margin-top: 4%;
}
.Container{
    /* padding-left: 5%; */
    display: flex;
    justify-content: space-between;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.bold{
    font-weight: 800;
    font-size: 45px;
    color: rgb(74, 73, 73);
}
.bolder{
    font-weight: 1000;
    font-size: 200px;
}
a{
    text-decoration: none!important;
}
.img{
    transform: scale(0.8, 0.7);
}
.center{
    text-align: center;
    margin: auto;
}
/* header */
.header{
    background-color: white;
    color: black;
    display: flex;
    margin-bottom: 2%;
    padding-bottom: 1%;
    /* padding: 1%; */
}
.logo{
/*     width: 12%;
    height: 60%; */
    width: 2%;
    height: 3%;
    margin-left: 5%;
    margin-top: 2%;
}
span{
    font-weight: bold;
    font-size: large;
    position: absolute;
    bottom: 27%;
}
.my-nav{
    margin-top: 1%;
    position: absolute;
    display: flex;
    color: black;
    right: 20%;
}
.my-nav a{
    margin: auto 10%;
    color: rgb(77, 76, 76)!important;
}
.dropdown{
    margin: 0 6%;
    padding: 0 2%;
    float: left;
}
.dropbtn{
    white-space: nowrap;
    display: inline-block;
    border: none;
    outline: none;
    background-color: inherit;
    color: rgb(77, 76, 76);
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    margin-top: 2%;
    padding: 5%;
    width: 111%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-content{
    display: block;
  }
  #bar{
    display: none;
  }
@media screen and (max-width: 680px) {
    #bar{
        display: block;
    }
    .my-nav{
        flex-direction: column;
        right: 0%;
        background-color: black;
        padding-right: 5%;
    }
    
    .hidden{
        display: none;
    }
}
/* about */

.about{
    background-image: url("https://previews.123rf.com/images/apopium/apopium1710/apopium171000002/87263079-3d-rendering-robotic-hand-isolated-on-white-background.jpg");
    background-size: cover;
    z-index: -1;
    padding: 2%;
    height: 100vh;
}
.about-content{
    text-align: center;
    color: orange;
    margin: auto 25%;
    margin-top: 10%;
}
.about-content>:nth-child(1){
    margin-bottom: 10%;
}
@media screen and (max-width: 600px) {
    #about{
        margin-top: 5%;
    }
    .bolder{
        font-size: 200%;
    }
    .about-content{
        margin: 25% 0;
    }
    .about>div{
        flex-direction: column;
    }
}
/* overview */
#overview{
    margin-top: -4%;
}
.o-wrapper{
    /* display: flex; */
    background-color: orange;
    padding: 5% 20%;
}
.o-div{
    display: flex;
    justify-content: space-around;
    margin: 4% 0;
}
.o-pannel{
    background-color: white;
    /* color: rgb(24, 4, 124); */
    color: gray;
    margin: 0 1%;
    padding: 4% 2%;
    text-align: center;
    border-radius: 1%;
    box-shadow: 3px 3px 5px 5px rgba(165, 111, 53, 0.414);
}
.o-pannel:hover{
    box-shadow: 0 0 15px rgb(37, 36, 36);
    transform: scale(1.05);
    transition-duration: 0.5s;
}
@media screen and (max-width: 680px) {
    .o-div{
        flex-direction: column;
    }
    .o-wrapper{
        padding: 5%;
    }
    .o-pannel{
        margin-bottom: 2%;
    }
}
/* review */
.r-div{
    padding: 2% 20%;
}
@media screen and (max-width:680px) {
    .r-div{
        padding: 2% 5%;
    }
}
/* Quadruped robot */
.q-robot{
    margin: 2% 25%;
}
.q-img{
    width: 100%!important;
    height: 100vh!important;
}
.c-text{
    margin-top: 2%;
    text-align: center;
    justify-content: center;
    color: orange;
}
.q-carousel button{
    margin-bottom: 10%;
}
.r-abt{
    margin: 0 -2%;
    padding: 2% 25%;
    background-color: white;
}
.r-about{
    display: flex;
    margin-top: 4%;
}
.a-left{
    width: 50%;
    text-align: center;
    padding-right: 2%;
    margin: auto;
}
.r-a-img{
    width: 100%;
}
.a-right{
    width: 50%;
    text-align: center;
    padding-left: 2%;
    margin: auto;
}
@media screen and (max-width: 680px) {
    .r-abt{
        padding: 2% 5%;
    }
    .q-robot{
        margin: 2% 15%;
    }
}

/* table */
.r-table{
    margin-top: 4%;
    /* padding: 0 10%; */
}
@media screen and (max-width: 680px){
    .r-table{
        margin: 0 -20%;
    }
}
.r-table>:nth-child(1){
    font-weight: 800;
    font-size: 230%;
    color: rgb(74, 73, 73);
}
table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgb(111, 111, 191);
   }
  .tbl-content{
    overflow-x:auto;
    background-color: white;
    border-radius: 1%;
    margin-top: 0px;
  }
  
  td{
    padding: 1.5%;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 90%;
    /* color: black; */
  }
  .t-row>:nth-child(1){
    color: orange;
    text-align: right;
  }
  .t-row>:nth-child(2){
    color: black;
    padding-left: 10%;
  }
  .download-btn{
    background-color: orange;
    padding: 1%;
    color: white;
    font-weight: 600;
    margin: auto 43%;
    border: none;
    border-radius: 2.5%;
    margin-bottom: 1%;
  }
/* open positions */
#positions{
    margin-top: 5%;
    padding: 0 5%;
}
.p-div{
    padding-top: 3%;
}
.p-heading{
    text-align: center;
}
.p-wrapper{
    background-color: white;
    box-shadow: 0 0 15px rgb(119, 119, 119);
    padding: 4% 5%;
    border-radius: 0.5%;
    margin: 2% 20%;
}
.p-container{
    display: flex;
    justify-content: space-around;
}
.p-container h1{
    font-weight: 550;
}
.p-container>:nth-child(1){
    width: 10%;
    color: orange;
    
}
.p-right{
    width: 95%;
}
.apply-btn-div{
    display: flex;
    justify-content: center;align-items: center;
}
.apply-btn{
    border: none;
    background-color: orange;
    color: white;
    padding: 1%;
    font-weight: 550;
    border-radius: 5%;
}

@media screen and (max-width:680px) {
    #positions{
        margin-top: 7%;
    }
    .p-wrapper{
        margin: 2% 5%;
    }
    .p-container>:nth-child(1){
        width: 20%;
    }
}

/* team */
#team{
    background-color: rgb(224, 223, 222);
    color: rgb(74, 73, 73);
    text-align: center;
    margin-top: 3%;
    padding: 4% 13%;
}
@media screen and (max-width: 680px) {
    #team{
        margin-top: 5%;
    }
}
.t-cont{
    display: flex;
}
.t-card{
    width: 25%;
    border-radius: 2%;
    background-color: white;
    color: black;
    padding: 1.5% 1%;
    margin: 1%;
}
.t-card>img{
    width: 95%;
    height: 60%;
    border-radius: 2%;
}
.t-card>h1{
    color: black;
    font-size: 125%;
    font-weight: 550;
    margin-top: 2%;
}
.t-card>h4{
    font-size: 90%;
    color: rgba(255, 166, 0, 0.605);
}
.socials{
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.socials>i{
    margin: 1% 2%;
    font-size: 250%;
    color: orange;
}

@media screen and (max-width: 680px) {
    .t-cont{
        flex-direction: column;
    }
    .t-card{
        width: 100%;
    }
}
/* footer */
#footer{
    padding: 2% 15%;
    text-align: center;
    background-color: rgb(44, 43, 43);
    color: white;
    font-size: large;
}
.f-sections{
    width: 20%;
    text-align: left;
    list-style-type: none;
}
.useful{
    margin-left: 8%;
}
.network{
    margin-right: -5%;
}
.network>p{
    margin: 0;
}
.f-sections>p>strong{
    color: orange;
}
.f-sections>:nth-child(1){
    text-decoration: none;
    font-weight: bolder;
    color: orange;
}
.f-sections>li>a{
    color: white;
}
#footer>p>a{
    color: #8f8f8f;
}
.social{
    margin-bottom: 4%;
}
@media screen and (max-width:680px) {
    #footer{
        padding: 2% 5%;
    }
}
