/* .q-carousel{
    margin-left: -15%;
}
.q-img{
    margin-left: 8%;
    width: 561.6px;
    height: 291.6px;
    /* transform: scale(1.8); */
/* }
@media screen and (max-width: 680px) {
    .q-robot{
        margin-top: 9%;
    }
    .a-img{
        width: 100%;
    }
    .q-img{
        width: 100%;
        height: 100%;
        margin-left: 0%;
    }
} */ 
